.header {
  color: var(--background-color);
  width: 100%;
  transition: height 0.5s;
  font-weight: bold;
}
.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 50px;
  cursor: pointer;
}
.subNavWrapper {
  margin-left: 20px;
  margin-bottom: 30px;
}

.nav {
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.5s;
  text-align: left;
  margin-bottom: 10px;
}

.title.sel,
.nav.sel {
  color: #ffed4d;
}

@media only screen and (max-width: 767px) {
}
