.header {
  color: var(--background-color);
  width: 100%;
  transition: height 0.5s;
  background-color: var(--menu-color);
  height: 100%;
  font-weight: bold;
}

.navWrapper {
  margin-top: 40px;
}
.subNavWrapper {
  margin-left: 20px;
  margin-bottom: 30px;
}

.nav {
  font-size: 20px;
  cursor: pointer;

  transition: all 0.5s;
  text-align: left;
  margin-bottom: 20px;
}
.subNav {
  font-size: 18px;
  transition: all 0.5s;
  margin-bottom: 15px;
}

.nav.sel {
  color: var(--header-nav-sel-font-color);
}
.subNav.sel {
  color: var(--header-sub-nav-sel-font-color);
}
@media only screen and (max-width: 767px) {
}
