.header {
  transition: height 0.5s;
  color: var(--menu-font-color);
  height: 100%;
}

.navWrapper {
  margin-top: 30px;
}
.subNavWrapper {
  margin-left: 20px;
  margin-bottom: 30px;
}

.nav {
  font-size: 20px;
  cursor: pointer;
  font-weight: 900;
  transition: all 0.5s;
  margin-bottom: 40px;
}
.nav.sel {
  color: var(--sel-font-color);
}
.subNav {
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s;
  margin-bottom: 40px;
}
.subNav.sel {
  color: var(--sel-font-color);
}
