.mb10 {
  margin-bottom: 10px;
}
.post {
  --disabled-color: rgb(192, 191, 191);
  --activated-color: #34495e;
  transition: all 0.5s;
  opacity: 0.5;
  padding-bottom: 40px;
}
.post.sel {
  opacity: 1;
}
.hide {
  display: none;
}
.header {
  margin-bottom: 5px;
  margin-left: 5%;
}
.infoText {
  font-size: 15px;
  font-weight: bold;
  color: var(--disabled-color);
  padding-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.moveText {
  font-size: 13px;
  padding: 10px;
  margin-left: 5px;
  color: var(--disabled-color);
  cursor: pointer;
}

.arrowWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.listArrow {
  font-size: 15px;
}
@media only screen and (max-width: 767px) {
  .arrowWrapper {
    margin-top: 30px;
    display: flex;
  }
}
