.post {
  width: 100%;
  transition: all 0.5s;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: -10px 5px 10px var(--border-color);
}
.post:hover {
  box-shadow: -5px 5px 10px var(--border-color);
}
.postImageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.postImage {
  border-radius: 8px;
  height: 35vh;
  object-fit: cover;
  margin-bottom: 20px;
}

.postTitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
}
.postShort {
  text-align: center;
  font-size: 12px;
  padding: 10px;
  height: 30px;
  margin-bottom: 30px;
}

.postTagWrapper {
  padding: 10px;
}
.postTag {
  font-size: 10px;
  text-align: center;
  color: var(--tag-font-color);
  background-color: grey;
  border-radius: 5px;
  padding: 9px;
  margin: 5px;
  font-weight: bold;
}

.arrow {
  font-size: 25px;
  margin: 0 10px 0 10px;
}
.listArrow {
  font-size: 25px;
}

.arrow {
  font-size: 25px;
}

@media only screen and (max-width: 767px) {
  .postImage {
    margin-bottom: 30px;
  }

  .postTitle {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .postShort {
    font-size: 17px;
  }
}
