.elementWrapper {
  position: relative;
  width: 100%;
  height: 65vh;
  padding: 10px;
  box-shadow: 10px 5px 10px var(--border-color);
  border-radius: 8px;
  background-color: var(--background-colorA);
}
.element {
  height: 100%;
  width: 100%;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.elementImage {
  width: 100%;
  height: 40vh;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  object-fit: cover;
}

.contentWrapper {
  width: 100%;
  height: 20vh;
  text-align: center;
  padding: 10px;
}
.title {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
}
.short {
  font-size: 12px;
  height: 50px;
  margin-bottom: 10px;
}

.tagWrapper {
  width: 100%;
  align-items: center;
  justify-content: center;
}
.tag {
  font-size: 10px;
  color: var(--tag-font-color);
  background-color: grey;
  border-radius: 5px;
  padding-top: 3px;
  margin: 2px;
  height: 20px;
  font-weight: bold;
}
