.wrapper {
  width: 100%;
  overflow: hidden;
}

.slide {
  display: flex;
  padding: 0px;
  transition: all 1s;
  list-style-type: none;
}

.slide li {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  width: 25%;
  padding: 1%;
}
.slide li.sel {
  opacity: 1;
}

.dotsWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

@media only screen and (max-width: 767px) {
  .slide li {
    width: 100%;
    padding: 3%;
  }
}
