.navigation {
  display: flex;
  justify-content: center;
}
.wrapper {
  border-radius: 10px;
  justify-content: center;
  display: flex;
  transition: all 0.5s;
  padding: 20px;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0px 10px 0px 10px;
  background-color: var(--nav-dot-color);
  transition: all 0.5s;
}

.dot.sel {
  width: 40px;
  border-radius: 10%;
  background-color: var(--nav-dot-sel-color);
}

.arrow {
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  margin: 0px 20px 0px 20px;
}
