.elementWrapper {
  height: 150px;
  border-bottom: var(--border-width) solid var(--border-color);
  margin-bottom: 10px;
  cursor: pointer;
}
.element {
  height: 150px;
  display: flex;
}
.elementImageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}
.elementImage {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}
.elementContentWrapper {
  width: calc(100% - 155px);
  padding: 10px;
}
.contentDate {
  font-size: 13px;
  width: 100%;
  color: grey;
}
.title {
  font-size: 16px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.short {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666666;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  max-height: 5.1em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
