.elementWrapper {
  height: 150px;
  border-bottom: var(--border-width) solid var(--border-color);
  margin-bottom: 30px;
}
.element {
  height: 125px;
  display: flex;
}
.elementImageWrapper {
  width: 125px;
  margin-right: 30px;
}
.elementImage {
  width: 125px;
  height: 125px;
  object-fit: cover;
}
.elementContentWrapper {
}

.title {
  font-size: 16px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.short {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666666;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  max-height: 5.1em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
