.mb30 {
  margin-bottom: 30px;
}
.elementWrapper {
  height: 530px;
  overflow: hidden;
  margin-bottom: 30px;
}
.elementInnerWrapper {
  transition: all 0.5s;
}
.element {
  text-align: center;
  height: 530px;
}
.skills {
  height: 30px;
}
.elementImage {
  border-radius: 8px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  opacity: 0.9;
  margin-bottom: 50px;
}

.elementTitle {
  height: 50px;
  font-size: 16px;
  font-weight: bold;
}

.description {
  height: 70px;
}

.elementContent {
  padding-top: 30px;
  height: 530px;
}

.skill {
  width: 25px;
  height: 25px;
}

.icon {
  font-size: 25px;
}

@media only screen and (max-width: 767px) {
  .element {
    padding: 10px;
    opacity: 1;
  }
  .element:hover {
    padding: 10px;
  }
}
