.portpolioWrapper {
  transition: all 0.5s;
  border-radius: 8px;
}
.portpolio {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 50px;
  padding-left: 30px;
  background-color: var(--background-color);
}
