.portpolioWrapper {
  transition: all 0.5s;
  border-radius: 8px;
}

.portpolio {
  background-color: var(--background-colorB);
  padding: 30px 2% 10px 2%;
}
.typeA {
  background-color: var(--background-colorA);
}

.carouselWrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
