.wrapper {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 8px;
}
.elementWrapper {
  height: 430px;
  overflow: hidden;

  transition: all 0.5s;
}
.elementInnerWrapper {
}
.element {
  text-align: center;
  height: 430px;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.elementImage {
  border-radius: 8px;
  height: 300px;
  object-fit: cover;
  opacity: 0.9;
}

.elementTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.elementShortContent {
  font-size: 14x;
  margin-bottom: 10px;
}
.description {
  height: 70px;
}

.elementContent {
  padding-top: 10px;
}
.tagWrapper {
}
.tag {
  font-size: 10px;
  text-align: center;
  color: white;
  background-color: grey;
  border-radius: 5px;
  padding: 5px;
  margin: 4px;
  font-weight: bold;
}

.skills {
  height: 30px;
}
.skill {
  width: 25px;
  height: 25px;
}

.icon {
  font-size: 25px;
}

@media only screen and (max-width: 767px) {
  .element {
    padding: 10px;
    opacity: 1;
  }
  .element:hover {
    padding: 10px;
  }
}
