.portpolioWrapper {
  background-color: var(--background-colorB);
  padding-top: 60px;
}
.typeA {
  background-color: var(--background-colorA);
}
.portpolio {
  padding: 30px 2% 10px 2%;
}
.animate {
  opacity: 0;
  padding-top: 100px;
  transition: all 1s;
}
.load {
  opacity: 1;
  padding-top: 0px;
}
.carouselWrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
