.pb20 {
  padding-bottom: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.elementWrapper {
  position: relative;
  width: 100%;
  height: 65vh;
  padding: 10px;
  overflow: hidden;
  box-shadow: 10px 5px 10px var(--border-color);
  border-radius: 8px;
  background-color: var(--background-colorB);
}
.element {
  height: 100%;
  width: 100%;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
}

.elementImage {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.contentWrapper {
  position: absolute;
  background-color: var(--background-colorB);
  opacity: 0.9;
  width: 100%;
  bottom: -20%;
  height: 70%;
  padding: 30px 20px 0px 20px;
  z-index: 2;
  transition: all 0.5s;
}
.contentWrapper.sel {
  bottom: 20%;
  overflow-y: scroll;
}
.contentWrapper::-webkit-scrollbar {
  display: none;
}

.contentTitleWrapper {
  height: 15%;
  margin-bottom: 50px;
  text-align: center;
}
.title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
.shortContent {
  font-size: 14x;
  margin-bottom: 10px;
}
.elementContent {
  padding-top: 10px;
}
.btnWrapper {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0%;
  height: 30%;
  padding: 10px 40px 10px 40px;
  z-index: 3;
  background-color: var(--background-colorA);
  border-radius: 8px;
  flex-wrap: wrap;
  text-align: center;
}

.btn {
  width: 50%;
}
.tagWrapper {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}
.tag {
  font-size: 10px;

  color: var(--tag-font-color);
  background-color: grey;
  border-radius: 5px;
  padding-top: 3px;
  margin: 2px;
  height: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
}
