.enter {
  height: 500px;
  overflow: scroll;
}

.enterActive {
  height: 500px;
  overflow: scroll;
}

.enterDone {
  height: 500px;
  overflow: scroll;
}

.exitter {
  height: 0px;
  overflow: hidden;
}

.exitActive {
  height: 0px;
  overflow: hidden;
}
.exitDone {
  height: 0px;
  overflow: hidden;
}
