.about {
  color: var(--font-color);
  font-weight: 500;
  font-size: 12px;
  transition: all 1s;
  width: 100%;
  height: 100%;
  font-weight: bold;
  border-radius: 8px;
  background-color: var(--background-colorB);
  border: 2px solid var(--border-color);
}
.aTag {
  color: var(--font-color);
}

.profileWrapper {
  padding: 20px;
}
.profileTitle {
  margin-bottom: 50px;
  font-size: 23px;

  text-align: center;
}
.profileDescImageWrapper {
  height: 150px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileDescImage {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.profileDescInfo {
  padding-left: 10px;
}

.profileDescInfoDetail {
  margin-bottom: 20px;
  cursor: pointer;
}
.text {
  margin-left: 10px;
}
