.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}
.hide {
  display: none;
}
.app {
  --background-colorA: #ffffff;
  --background-colorB: #fefafa;
  --sel-box-color: rgb(230, 230, 230);
  --tag-color: #83878c;
  --tag-font-color: #ffffff;
  --border-color: #e0e0e0;
  --font-color: #191f28;
  --sub-font-color: #cacaca;
  --sel-font-color: #191f28;
  --nav-dot-color: #83878c;
  --nav-dot-sel-color: #34495e;
  --nav-dot-last-color: #ffbc49;
  --toc-color: #83878c;
  --toc-read-color: #34495e;
  --border-width: 1px;
  background-color: var(--background-colorA);
  color: var(--font-color);
}
.appWrapper {
  margin: 0px auto;
  padding: 0px 20px;
}
.floatBtn {
  position: fixed;
  top: 90vh;
  z-index: 2;
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: white;
  background-color: black;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about {
  position: fixed;
  width: 300px;
  bottom: -440px;
  z-index: 2;
  transition: all 1s;
}
.about.show {
  bottom: 0px;
}
.about.hide {
  top: 100vh;
}
.header {
  width: 100%;
  background-color: var(--background-colorA);
}

.body {
  padding-top: 30px;
}

.content {
  min-height: 100vh;
}

.side {
  min-height: 100vh;
}
.ad {
  background-color: var(--border-color);
  width: 100%;
  padding: 10px;
}
.ad.h100 {
  height: 100px;
}
.ad.h200 {
  height: 200px;
}
.ad.h300 {
  height: 300px;
}
.footer {
  min-height: 50px;
}
.banner {
  padding: 10px 0px 50px 0px;
}

@media only screen and (min-width: 768px) {
  .appWrapper {
    width: 768px;
    padding: 0px 20px;
  }
}

@media only screen and (min-width: 1025px) {
  .appWrapper {
    width: 1118px;
    padding: 0px 30px;
  }
  .body {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
  }
  .content {
    width: 75%;
    padding-right: 30px;
  }
  .side {
    width: 25%;
  }
}
