.breadCrumbWrapper {
  --disabled-color: rgb(192, 191, 191);
  --activated-color: #34495e;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.mb10 {
  margin-bottom: 10px;
}
.breadCrumb {
  display: flex;
}
.crumb {
  margin: 0px 20px 0px 0px;
  color: grey;
  cursor: pointer;
}
.crumb.sel {
  color: #34495e;
}

.crumb.home {
  cursor: pointer;
}

.crumb.home:hover {
  color: #34495e;
}

@media only screen and (max-width: 767px) {
  .breadCrumbWrapper {
    font-size: 13px;
  }
}
