.career {
  min-height: 700px;
  padding: 30px 2% 10px 2%;
}
.descriptionWrapper {
  width: 100%;
  padding: 25px 1% 25px 1%;
}
.description {
  width: 100%;
  background-color: var(--background-colorA);
  padding: 30px 50px 20px 50px;
  font-size: 15px;
  border-radius: 8px;
  box-shadow: 10px 5px 10px var(--border-color);
}
.descriptionHeader {
  display: flex;
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 15px;
  padding-left: 30px;
}
.descriptionHeader .el {
  margin-right: 20px;
}
.descriptionHeader .arrow {
  padding-top: 3px;
}
.descriptionBody {
  transition: all 0.5s;
}
.descriptionBodyHeader {
  margin-bottom: 30px;
}
.descriptionCol {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tag {
  font-size: 10px;
  text-align: center;
  color: var(--tag-font-color);
  background-color: var(--tag-color);
  border-radius: 5px;
  padding: 5px;
  margin: 4px;
  font-weight: bold;
}
.hide {
  display: none;
}

@media only screen and (max-width: 767px) {
  .description {
    padding: 20px 10px 20px 10px;
  }
  .descriptionHeader {
  }
}
