.career {
  --disabled-color: rgb(192, 191, 191);
  --activated-color: #34495e;
  color: var(--disabled-color);
  padding-bottom: 50px;
  padding-top: 20px;
}
.career.sel {
  color: var(--activated-color);
}

.description {
  width: 100%;
  border: 3px solid var(--disabled-color);
  border-radius: 10px 10px 0 0;
}
.description.sel {
  border: 3px solid var(--activated-color);
}
.descriptionColHeader {
  height: 50px;
  font-size: 15px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  padding-top: 13px;
}
.descriptionCol {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 3px dotted var(--disabled-color);
}
.descriptionCol.sel {
  border-bottom: 3px dotted var(--activated-color);
}

.descriptionCol:last-child {
  border-bottom: none;
}

.skillImage {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  opacity: 0.5;
}
.skillImage.sel {
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  .descriptionCol {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
  }

  .skills {
    padding-top: 13px;
  }
  .skillImage {
    width: 20px;
    height: 20px;
  }
}
