html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: Roboto sans-serif;
  transition: width 0.5s;
  color: #34495e;
  user-select: none;
  scroll-behavior: smooth;
  overflow: auto;
  height: auto;
}
html::-webkit-scrollbar {
  display: none;
}
