html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 1200px;
  font-family: Roboto sans-serif;
  transition: width 0.5s;
  color: #34495e;
  user-select: none;
}
html::-webkit-scrollbar {
  display: none;
}
