.header {
  width: 100%;
  top: 0;
  padding: 10px 100px 10px 100px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 3px solid rgb(218, 215, 215);
  color: grey;
  position: fixed;
  z-index: 5;
  transition: height 0.5s;
}
.title {
  font-size: 20px;
  font-weight: bold;
}
.navWrapper {
}

.nav {
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.5s;
}
.nav.back {
  font-size: 20px;
}
.title.sel,
.nav.sel {
  color: #34495e;
}

@media only screen and (max-width: 767px) {
  .header {
    top: 80%;
    height: 300px;
    padding: 10px 25px 0px 25px;
    border: 3px solid rgb(218, 215, 215);
    transition: top 0.5s;
  }
  .header.fold {
    top: 94%;
  }
  .nav {
    font-size: 17px;
  }
  .nav.hide {
    display: none;
  }
}
