.componentWrapper {
  width: 100%;
}
.mainTitle {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 5px;
  margin-left: 20px;
}
.mainTitleText {
}
.mainSubTitleText {
  padding-top: 5px;
  font-size: 15px;
  margin-left: 20px;
}
.subTitle {
  padding-left: 30px;
  font-size: 18px;
  color: var(--activated-color);
  font-weight: bold;
  cursor: pointer;
  display: flex;
}
.subText {
  margin-right: 10px;
}
