.wrapper {
  --disabled-color: rgb(192, 191, 191);
  --activated-color: #34495e;
  --background-color: rgba(255, 255, 255, 1);
  background-color: var(--background-color);
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.hide {
  display: none;
}

.container {
  border-radius: 10px;
  padding: 5% 3% 5% 3%;
  width: 78%;
  margin-left: 20%;
  margin-right: 2%;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 15% 5% 15% 5%;
    margin: 0;
    width: 100%;
  }
}
