.componentWrapper {
  width: 100%;
}
.bColorA {
  background-color: var(--background-color);
}

.bColorB {
  background-color: var(--background-colorB);
}

.title {
  display: flex;
  flex-wrap: nowrap;
  font-size: 20px;
  color: var(--font-color);
  font-weight: bold;
  transition: all 0.5s;
  opacity: 1;
}
.title.main {
  padding-left: 20px;
}
.title.sub {
  height: 50px;
  padding-left: 30px;
}
.title.sub.hide {
  opacity: 0;
  padding: 0;
  height: 0px;
}

.mainSubTitleText {
  color: var(--sub-font-color);
  padding-top: 5px;
  font-size: 15px;
  margin-left: 20px;
  cursor: pointer;
}
