.menu {
  width: 100%;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--background-colorA);
  border-bottom: var(--border-width) solid var(--border-color);
  overflow: hidden;
}

.menuWrapper {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  transition: all 0.5s;
  padding-left: 10px;
}

.nav {
  width: 10%;
  color: var(--sub-font-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.5s;
}
.nav.sel {
  color: var(--sel-font-color);
}
