.portpolio {
  --disabled-color: rgb(192, 191, 191);
  --activated-color: #34495e;
  transition: all 0.5s;
  opacity: 0.5;
  padding: 10px;
}
.portpolio.sel {
  opacity: 1;
}

.hide {
  display: none;
}
.info {
  margin-bottom: 5px;
}

.titleWrapper {
  margin-left: 5%;
}
.contentWrapper {
  border: 3px solid var(--activated-color);
  transition: all 0.5s;
  margin-bottom: 30px;
  font-size: 17px;
  padding: 20px;
}
.head {
  margin-bottom: 30px;
  transition: all 0.5s;
  margin-bottom: 10px;
}
.headTitle {
  font-size: 23px;
}
.headDate {
  font-size: 15px;
}
.contentHeadImageWrapper {
  margin-bottom: 20px;
}
.contentHeadImage {
  transition: all 0.5s;
  border-radius: 5px;
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.contentHeadText {
  font-size: 12px;
}

.repoDescription {
  cursor: pointer;
}
.url {
  margin-left: 10px;
  font-size: 15px;
}

.skills {
  display: flex;
  margin-bottom: 10px;
}
.skillImage {
  width: 30px;
  height: 30px;
}

.icon {
  font-size: 30px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .contentList {
    padding: 10px;
  }
  .contentWrapper {
    padding: 10px;
  }

  .contentWrapper > .contentHeadWrapper {
    padding-right: 0;
    border-right: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .contentBodyHead {
    margin-top: 20px;
  }

  .contentHeadImage {
    height: 250px;
  }
  .contentWrapper:hover .contentHeadImage {
    height: 250px;
  }

  .contentBodyHeaderTitle {
    font-size: 18px;
  }
  .contentBodyHeaderInfo {
    font-size: 10px;
  }
  .contentBody {
    padding: 0;
    padding-left: 10px;
  }

  .contentHeadText {
    padding: 0;
    font-size: 10px;
  }
}
