.portpolio {
  padding-bottom: 50px;
  --disabled-color: rgb(192, 191, 191);
  --activated-color: #34495e;
  color: var(--disabled-color);
  border-top: 3px dotted var(--disabled-color);
  transition: all 0.5s;
  opacity: 0.5;
  padding-top: 50px;
}
.portpolio.sel {
  color: var(--activated-color);
  border-top: 3px dotted var(--activated-color);
  opacity: 1;
}

.navigation {
  text-align: center;
  justify-content: right;
}
.nav {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 8px;
  cursor: pointer;
  border: 2px solid var(--disabled-color);
  color: var(--disabled-color);
  border-bottom: none;
  font-size: 15px;
  margin-right: 3px;
  font-weight: bold;
}
.nav.sel.checked {
  color: var(--activated-color);
  border: 3px solid var(--activated-color);
  border-bottom: none;
}
.nav:last-child {
  margin-right: 0px;
}

.contentListWapper {
  border: 3px solid var(--disabled-color);
  border-radius: 5px;
  border-top-right-radius: 0;
  padding: 50px;
}
.contentListWapper.sel {
  border: 3px solid var(--activated-color);
}
.contentWrapper {
  border: 3px dotted var(--disabled-color);
  border-radius: 10px 10px 0 0;
  padding: 50px;
  transition: all 0.5s;
}
.contentWrapper.sel {
  border: 3px dotted var(--activated-color);
}
.contentWrapper:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.contentWrapper:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.contentWrapper:not(:last-child) {
  border-bottom: none;
}

.contentWrapper > .contentHeadWrapper {
  padding-right: 20px;
  border-right: 3px dotted var(--disabled-color);
  transition: all 0.5s;
}

.contentHeadImageWrapper {
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.5s;
  padding-top: 30px;
}

.contentHeadImage {
  height: 350px;
  transition: all 0.5s;
  border-radius: 5px;
}
.contentWrapper:hover .contentHeadImage {
  height: 350px;
}

.contentHeadText {
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
}

.repoDescription {
  cursor: pointer;
}
.url {
  margin-left: 10px;
  font-size: 15px;
}

.skills {
  display: flex;
  margin-bottom: 10px;
}
.skillImage {
  width: 30px;
  height: 30px;
}
.contentBody {
  border-radius: 5px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  font-size: 17px;
}
.contentBodyBody {
  border-bottom: 3px dotted rgba(192, 191, 191, 0.5);
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.contentBodyHead {
  margin-bottom: 30px;
  transition: all 0.5s;
}
.contentBodyHeaderTitle {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
}
.contentBodyHeaderInfo {
  font-size: 15px;
}
.icon {
  font-size: 30px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .contentListWapper {
    padding: 10px;
  }
  .contentWrapper {
    padding: 10px;
  }

  .contentWrapper > .contentHeadWrapper {
    padding-right: 0;
    border-right: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .contentBodyHead {
    margin-top: 20px;
  }
  .contentHeadImageWrapper {
    padding-top: 10px;
  }
  .contentHeadImage {
    height: 250px;
  }
  .contentWrapper:hover .contentHeadImage {
    height: 250px;
  }

  .contentBodyHeaderTitle {
    font-size: 18px;
    font-weight: bold;
  }
  .contentBodyHeaderInfo {
    font-size: 10px;
  }
  .contentBody {
    padding: 0;
    padding-left: 10px;
  }
  .contentBodyBody {
    font-size: 15px;
  }

  .contentHeadText {
    padding: 0;
    font-size: 10px;
  }
  .nav {
    font-size: 3px;
  }
}
