.portpolio {
  padding-bottom: 100px;
}
.titleWrapper {
  width: 140px;
  height: 50px;
  margin-bottom: 20px;
  position: relative;
}
.titleCover {
  width: 10%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: width 0.5s;
}
.titleCover.sel {
  width: 100%;
}

.titleText {
  position: absolute;
  width: 140px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  top: 7px;
  transition: color 0.5s;
}
.titleText.sel {
  color: rgb(252, 231, 48);
}

.navigation {
  text-align: center;
  justify-content: right;
}
.nav {
  font-size: 7px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 5px;
  cursor: pointer;
  border: 3px solid black;
  border-bottom: 0;
  margin-right: 3px;
  border-collapse: collapse;
  color: white;
}
.nav:last-child {
  margin-right: 0px;
}
.nav > h1 {
  color: black;
}

.nav.sel {
  background-color: black;
}
.nav.sel > h1 {
  color: rgb(252, 231, 48);
}
.contentListWapper {
  border: 3px solid black;
  border-radius: 5px;
  border-top-right-radius: 0;
  padding: 40px 20px 20px 20px;
}
.contentWrapper {
  border: 3px dotted rgb(192, 191, 191);
  border-radius: 10px 10px 0 0;
  padding: 15px;
  transition: all 0.5s;
}
.contentWrapper:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.contentWrapper:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.contentWrapper:not(:last-child) {
  border-bottom: none;
}
.contentWrapper:hover {
  border: 3px dotted black;
  border-bottom: none;
}

.contentWrapper:hover + .contentWrapper {
  border-top: 3px dotted black;
}

.contentWrapper:last-child:hover {
  border-bottom: 3px dotted black;
}

.contentWrapper > .contentHeadWrapper {
  padding-right: 20px;
  border-right: 3px dotted rgb(192, 191, 191);
  transition: all 0.5s;
}

.contentWrapper:hover > .contentHeadWrapper {
  border-right-color: black;
}
.contentHeadImageWrapper {
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.5s;
  padding-top: 30px;
}

.contentHeadImage {
  height: 350px;
  transition: all 0.5s;
  border-radius: 5px;
}
.contentWrapper:hover .contentHeadImage {
  height: 350px;
}

.contentHeadText {
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
}

.repoDescription {
  cursor: pointer;
}
.url {
  margin-left: 10px;
  font-size: 15px;
  color: black;
}

.skills {
  display: flex;
  margin-bottom: 10px;
}
.skillImage {
  width: 30px;
  height: 30px;
}
.contentBody {
  border-radius: 5px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  font-size: 17px;
}
.contentBodyBody {
  border-bottom: 3px dotted rgba(192, 191, 191, 0.5);
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.contentBodyHead {
  margin-bottom: 30px;
  transition: all 0.5s;
}
.contentBodyHeaderTitle {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
}
.contentBodyHeaderInfo {
  font-size: 15px;
}
.icon {
  font-size: 30px;
  margin-bottom: 10px;
}
.contentWrapper:hover .contentBodyHead {
  border-color: black;
}

@media only screen and (max-width: 767px) {
  .contentWrapper > .contentHeadWrapper {
    padding-right: 0;
    border-right: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .contentBodyHead {
    margin-top: 20px;
  }
  .contentHeadImageWrapper {
    padding-top: 10px;
  }
  .contentHeadImage {
    height: 250px;
  }
  .contentWrapper:hover .contentHeadImage {
    height: 250px;
  }

  .contentBodyHeaderTitle {
    font-size: 18px;
    font-weight: bold;
  }
  .contentBodyHeaderInfo {
    font-size: 10px;
  }
  .contentBody {
    padding: 0;
    padding-left: 10px;
  }
  .contentBodyBody {
    font-size: 15px;
  }

  .contentHeadText {
    padding: 0;
    font-size: 10px;
  }
  .nav {
    font-size: 3px;
  }
}
