.navigation {
  text-align: center;
}

.nav {
  font-size: 15px;
  padding: 8px;
  cursor: pointer;
  border: 3px solid var(--disabled-color);
  border-left: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.nav:first-child {
  border-left: 3px solid var(--disabled-color);
}
.nav.sel {
  border: 3px solid var(--activated-color);
  border-left: none;
}

.nav.sel:first-child {
  border-left: 3px solid var(--activated-color);
}

.nav.checked {
}

@media only screen and (max-width: 767px) {
  .nav {
    font-size: 3px;
  }
}
