.wrapper {
  --disabled-color: rgb(192, 191, 191);
  --activated-color: #34495e;
  --background-color: rgba(255, 255, 255, 1);
  --background-color-09: rgba(255, 255, 255, 0.9);
  background-color: var(--background-color);
}
.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.hide {
  display: none;
}
.container {
  border-radius: 10px;
  padding: 6% 1% 0% 1%;
  width: calc(100% - 300px);
  margin-left: 300px;
  margin-right: 2%;
}
.container.title {
  position: fixed;
  border-radius: 0;
  background-color: var(--background-color-09);
  padding: 2% 3% 1% 3%;
  z-index: 3;
}

.postWrapper {
  position: relative;
  width: 100%;
  padding: 0px;
  list-style-type: none;
  transition: all 1s;
}

.post {
  width: 100%;
}
.postInner {
  width: 100%;
  padding: 20px;
}
.postContent {
  height: 100%;
  border: 3px solid var(--activated-color);
  border-left: none;
  border-radius: 8px;
  padding: 30px;
  padding-top: 10px;
}

.postInfoWrapper {
  margin-top: 20px;
  margin-bottom: 10px;
}

.postTitleWrapper {
  margin-bottom: 10px;
}
.postTitle {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.postShort {
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.post .postImageWrapper {
  border: 3px solid var(--activated-color);
  border-right-style: dotted;
  border-radius: 8px;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.postImage {
  height: 150px;
  object-fit: fill;
  border-radius: 5px;
}
.postCategory {
  font-size: 13px;
  text-align: center;
  color: white;
  transition: all 0.5s;
  background-color: grey;
  border-radius: 5px;
  padding: 9px;
  margin-top: 20px;
  font-weight: bold;
}

.postTagWrapper {
  border-top: 3px dotted var(--disabled-color);
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 20px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: none;
  }
  .post .postImageWrapper {
    border-right-style: solid;
    border-bottom-style: dotted;
  }

  .postImage {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .postContent {
    height: 100%;
    border: 3px solid var(--disabled-color);
    border-top: 0;
    border-radius: 8px;
    transition: border 0.5s;
    padding: 30px;
    padding-top: 10px;
  }

  .postTitleWrapper {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .postTitle {
    font-size: 17px;
  }

  .postShort {
    font-size: 15px;
    margin: 10px;
  }
}
