.postList {
  --disabled-color: rgb(192, 191, 191);
  --activated-color: #34495e;
  padding-bottom: 50px;
  padding-top: 50px;
  border-top: 3px dotted var(--disabled-color);
  transition: all 0.5s;
  opacity: 0.5;
}
.postList.sel {
  opacity: 1;
  border-top: 3px dotted var(--activated-color);
}

.hide {
  display: none;
}
.info {
  margin-bottom: 15px;
  display: flex;
}
.infoText {
  font-size: 15px;
  font-weight: bold;
  color: var(--disabled-color);
  padding-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.moveText {
  font-size: 13px;
  color: var(--disabled-color);
  padding-top: 3px;
  cursor: pointer;
}

.titleText.sel,
.infoText.sel,
.moveText:hover {
  color: var(--activated-color);
}
.postWrapper {
  overflow: hidden;
}
.posts {
  display: flex;
  padding: 0px;
  transition: all 1s;
}
.posts.list {
  flex-wrap: wrap;
}

.post {
  list-style: none;
  flex: 1 0 auto;
  width: 100%;
}
.post.list {
  flex: none;
}
.post.list:first-child {
  display: none;
}
.post.list:last-child {
  display: none;
}
.postInner {
  padding: 20px;
}

.post.show {
  visibility: visible;
}
.postContent {
  height: 100%;
  border: 3px solid var(--disabled-color);
  border-left: 0;
  border-radius: 8px;
  transition: border 0.5s;
  padding: 30px;
  padding-top: 10px;
}

.postInfoWrapper {
  margin-top: 20px;
  margin-bottom: 10px;
}

.postTitleWrapper {
  margin-bottom: 10px;
}
.postTitle {
  font-size: 25px;
  font-weight: bold;
}

.postShort {
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
}

.post .postImageWrapper {
  border: 3px solid var(--disabled-color);
  border-right-style: dotted;
  border-radius: 8px;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.postImage {
  height: 150px;
  object-fit: fill;
  border-radius: 5px;
}
.arrowWrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.dotsWrapper {
  width: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.dots {
  display: flex;
  transition: all 0.5s;
}
.dots.hide {
  display: none;
}
.arrow {
  font-size: 25px;
  margin: 0 10px 0 10px;
}
.listArrow {
  font-size: 25px;
}
.dot {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  margin: 5px 15px 0 15px;
  background-color: var(--disabled-color);
  transition: all 0.5s;
}
.dot.sel {
  width: 17px;
  height: 17px;
  border-radius: 100%;
  margin: 5px 15px 0 15px;
  background-color: grey;
}
.postCategory {
  font-size: 18px;
  text-align: center;
  color: white;
  transition: all 0.5s;
  background-color: grey;
  border-radius: 5px;
  padding: 9px;
  margin-top: 20px;
  font-weight: bold;
}

.postTagWrapper {
  border-top: 3px dotted var(--disabled-color);
}

.post.active > .postImageWrapper,
.post.active > .postContent {
  border-color: var(--activated-color);
}

@media only screen and (max-width: 767px) {
  .post .postImageWrapper {
    border-right-style: solid;
    border-bottom-style: dotted;
  }

  .postImage {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .postContent {
    height: 100%;
    border: 3px solid var(--disabled-color);
    border-top: 0;
    border-radius: 8px;
    transition: border 0.5s;
    padding: 30px;
    padding-top: 10px;
  }

  .postTitleWrapper {
    font-weight: bold;
    margin-bottom: 10pxß;
    margin-top: 20px;
  }

  .postTitle {
    font-size: 17px;
  }

  .postShort {
    font-size: 15px;
    margin: 1s0px;
  }
}
