.postList {
  --border-color: rgb(192, 191, 191);
  padding-bottom: 100px;
}

.titleWrapper {
  width: 100px;
  height: 50px;
  margin-bottom: 30px;
  position: relative;
}
.titleCover {
  width: 10%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: width 0.5s;
}
.titleCover.sel {
  width: 100%;
}
.titleText {
  width: 100px;
  position: absolute;
  font-size: 22px;
  font-weight: bold;
  top: 7px;
  transition: color 0.5s;
  text-align: center;
}
.titleText.sel {
  color: rgb(252, 231, 48);
}
.post {
  margin-bottom: 20px;
  width: 100%;
}
.postContent {
  height: 100%;
  border: 3px solid var(--border-color);
  border-left: 0;
  border-radius: 8px;
  transition: border 0.5s;
  padding: 30px;
  padding-top: 10px;
}
.postContentText {
}
.postTitleWrapper {
  font-weight: bold;
  margin-bottom: 10pxß;
  margin-top: 50px;
}
.postTitle {
  font-size: 30px;
}
.postInfoWrapper {
}

.postShort {
  margin: 20px;
  font-size: 20px;
  min-height: 120px;
}

.post .postImageWrapper {
  border: 4px dotted var(--border-color);
  border-radius: 8px;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.postImage {
  height: 200px;
  object-fit: fill;
  border-radius: 5px;
}

.postCategory {
  margin-top: 15px;
  border: 3px solid var(--border-color);
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: var(--border-color);
  transition: all 0.5s;
  height: 30%;
}

.postTagWrapper {
  border-top: 3px dotted var(--border-color);
}
.post:hover .postCategory {
  color: rgb(252, 231, 48);
  background-color: black;
  border-color: black;
}

.post:hover > .postImageWrapper {
  /* border-color: rgb(252, 231, 48); */
  border-color: black;
}

.post:hover > .postContent {
  border-color: black;
}

@media only screen and (max-width: 767px) {
  .postImage {
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .postContent {
    height: 100%;
    border: 3px solid var(--border-color);
    border-top: 0;
    border-radius: 8px;
    transition: border 0.5s;
    padding: 30px;
    padding-top: 10px;
  }

  .postTitleWrapper {
    font-weight: bold;
    margin-bottom: 10pxß;
    margin-top: 20px;
  }
}
