.wrapper {
  width: 100%;
  background-image: url(../assets/pattern.png);
  --disabled-color: rgb(192, 191, 191);
  --activated-color: #34495e;
  --background-color: rgba(255, 255, 255, 1);
}
.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.hide {
  display: none;
}

.container {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 60px;
  border-radius: 10px;
  border: 3px solid var(--disabled-color);
  background-color: var(--background-color);
  min-height: 800px;
}
.menuWrapper {
  position: relative;
  margin-left: 20px;
}
.selMenu {
  min-width: 100px;
  display: flex;
  border: 3px solid var(--activated-color);
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.5s;
}
.selMenu.disable {
  border-color: var(--disabled-color);
  color: var(--disabled-color);
}

.selMenuText {
  margin: 5px;
  padding-left: 5px;
}
.selMenuArrow {
  margin: 7px;
  padding-left: 20px;
}

.categoryMenu {
  position: absolute;
  min-width: 100px;
  top: 40px;
  z-index: 2;
}
.menu {
  background-color: white;
  color: var(--disabled-color);
  border: 3px solid var(--activated-color);
  border-bottom: none;
  padding: 10px;
}
.menu:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.menu:last-child {
  border: 3px solid var(--activated-color);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.menu.sel {
  color: var(--activated-color);
  font-weight: bold;
}
.menu:hover {
  color: var(--activated-color);
  background-color: var(--disabled-color);
}

.postWrapper {
  position: relative;
  width: 100%;
  padding: 0px;
  list-style-type: none;
  transition: all 1s;
}

.post {
  width: 100%;
}
.postInner {
  width: 100%;
  padding: 20px;
}
.postContent {
  height: 100%;
  border: 3px solid var(--activated-color);
  border-left: none;
  border-radius: 8px;
  padding: 30px;
  padding-top: 10px;
}

.postInfoWrapper {
  margin-top: 20px;
  margin-bottom: 10px;
}

.postTitleWrapper {
  margin-bottom: 10px;
}
.postTitle {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.postShort {
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.post .postImageWrapper {
  border: 3px solid var(--activated-color);
  border-right-style: dotted;
  border-radius: 8px;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.postImage {
  height: 150px;
  object-fit: fill;
  border-radius: 5px;
}
.postCategory {
  font-size: 13px;
  text-align: center;
  color: white;
  transition: all 0.5s;
  background-color: grey;
  border-radius: 5px;
  padding: 9px;
  margin-top: 20px;
  font-weight: bold;
}

.postTagWrapper {
  border-top: 3px dotted var(--disabled-color);
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 20px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: none;
  }
  .post .postImageWrapper {
    border-right-style: solid;
    border-bottom-style: dotted;
  }

  .postImage {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .postContent {
    height: 100%;
    border: 3px solid var(--disabled-color);
    border-top: 0;
    border-radius: 8px;
    transition: border 0.5s;
    padding: 30px;
    padding-top: 10px;
  }

  .postTitleWrapper {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .postTitle {
    font-size: 17px;
  }

  .postShort {
    font-size: 15px;
    margin: 10px;
  }
}
