.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}
.componentWrapper {
  padding: 100px 50px 100px 50px;
}

.postSubtitle {
  font-size: 15px;
  padding: 10px;
  margin-left: 5px;
  color: var(--disabled-color);
  cursor: pointer;
}
.postWrapper {
  display: flex;
  overflow-x: scroll;
}
.postElement {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  width: 25%;
  padding: 1%;
}
