.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 100px;
}
.tocWrapper {
  display: none;
}
.tocFold {
  display: none;
}
.post {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.contentHeaderWrapper {
  height: 100%;
  margin-bottom: 100px;
}
.sod,
.eod {
  height: 100px;
}
.breadCrumbWrapper {
  position: relative;
}
.contentHeader {
  text-align: center;
}

.contentHeader .title {
  font-size: 30px;
  font-weight: bold;
}

.contentHeader .subTitle {
  font-size: 30px;
}

.postImage {
  height: 200px;
  margin-bottom: 30px;
}

@media only screen and (min-width: 1025px) {
  .tocWrapper {
    display: block;
    right: 0;
    width: 280px;
    position: fixed;
    top: 0;
    height: 100%;
    color: var(--toc-color);
    background-color: var(--background-colorA);
    font-weight: bold;
    z-index: 2;
    border: var(--border-width) solid var(--border-color);
    transition: all 0.5s;
  }
  .tocWrapper.fold {
    right: -280px;
  }
  .tocFold {
    display: flex;
    width: 100px;
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    color: var(--toc-read-color);
    font-size: 20px;
    align-items: center;
    background-color: var(--background-colorA);
    font-weight: bold;
    z-index: 1;
    border: var(--border-width) solid var(--border-color);
    transition: all 1s;
  }
  .tocFold.fold {
    right: -300px;
  }
  .btn {
    width: 40%;
    text-align: center;
  }
  .text {
    width: 60%;
  }
}
