.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.em {
  font-style: normal;
  background-color: var(--activated-color);
  color: white;
  padding: 4px;
  border-radius: 3px;
}

.wrapper {
  width: 100%;
  background-image: url(../assets/pattern.png);
  padding-top: 80px;
}
.container {
  --disabled-color: rgb(192, 191, 191);
  --activated-color: #34495e;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  min-height: 1100px;
  border: 3px solid var(--disabled-color);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  overflow-x: hidden;
}

.contentHeaderWrapper {
  padding: 30px;
  padding-top: 20px;
  height: 500px;
}
.contentHeader {
  text-align: center;
  padding-top: 30px;
}

.contentHeader .title {
  font-size: 40px;
  font-weight: bold;
}

.contentHeader .subTitle {
  font-size: 30px;
}

.contentBody {
  background-color: rgba(255, 255, 255, 1);
  padding: 60px;
}

.tags {
  display: flex;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  justify-content: center;
  align-items: center;
}
.tag {
  width: 30%;
  margin: 20px;
  font-size: 15px;
  background-color: var(--activated-color);
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
}

.postImage {
  height: 300px;
  margin-bottom: 30px;
}
.fixPoint {
  background-color: red;
  margin-bottom: 30px;
}
.observePoint {
  position: fixed;
  background-color: yellow;
  top: 20%;
}
@media only screen and (max-width: 767px) {
  .container {
    padding: 10px;
    width: 100%;
    margin: 0;
    border: none;
  }
  .contentHeader {
    padding: 20px 0 25px 0;
  }
  .contentHeader .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 20px;
  }
  .contentHeader .subTitle {
    font-size: 16px;
  }
  .contentBody {
    padding: 20px;
  }

  .postImage {
    height: 100px;
  }

  .tag {
    margin: 10px;
    width: 40%;
    font-size: 15px;
  }
}
