.titleWrapper {
  --disabled-color: rgb(192, 191, 191);
  --activated-color: #34495e;
  margin-bottom: 20px;
}

.titleText {
  font-size: 25px;
  font-weight: bold;
  color: var(--disabled-color);
}
.hide {
  display: none;
}
.titleText.sel {
  color: var(--activated-color);
}
.titleArrow {
  width: 8px;
  margin-top: 2px;
  height: 30px;
  background-color: #34495e;
  opacity: 0;
  margin-left: 10px;

  transition: all 1s;
}

.titleArrow.sel {
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  .titleWrapper {
    display: none;
  }
}
