.toc {
  position: fixed;
  width: 300px;
  height: 90%;
  padding-bottom: 40px;
  color: var(--toc-color);
  background-color: var(--background-colorA);
  font-weight: bold;
  top: 80px;
  right: 0;
  z-index: 3;
  opacity: 0.9;
  border: var(--border-width) solid var(--border-color);
}
.read > div {
  color: var(--toc-read-color);
}
.toc.title {
  height: 40px;
  width: 100px;
  right: -100px;
  transition: all 1s;
}

.toc.title.fold {
  right: 0;
}
.toc.content {
  transition: all 0.5s;
}
.toc.content.fold {
  right: -300px;
}

.tocTitle {
  position: absolute;
  border-bottom: var(--border-width) solid var(--border-color);
  color: var(--toc-read-color);
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: white;
  font-size: 20px;
}
.btn {
  width: 10%;
  text-align: center;
}
.text {
  width: 90%;
  text-align: center;
}

.tocContent {
  padding-top: 60px;
  padding-left: 40px;
  height: 100%;

  overflow-y: scroll;
}

.orderedList {
  padding-left: 25px;
}

.list {
  margin-top: 15px;
  margin-bottom: 15px;
}
.list.lv1 {
  font-size: 20px;
  font-weight: bold;
}

.list.lv2 {
  font-weight: 500;
  font-size: 17px;
}

.list.lv3 {
  font-size: 15px;
  font-weight: 400;
}

.list.lv4 {
  font-size: 13px;
  font-weight: 300;
}

.list.lv5 {
  font-size: 10px;
  font-weight: 200;
}
