.toc {
  --disabled-color: rgb(192, 191, 191);
  --activated-color: #34495e;
}

.read > div {
  color: var(--activated-color);
}
.read::marker {
  color: var(--activated-color);
}
.tocTitleWrapper.open {
  right: 0px;
}
.tocWrapper.open {
  right: 0px;
}
.tocTitleWrapper {
  border: 3px solid var(--disabled-color);
  border-radius: 5px;
  position: fixed;
  display: flex;
  width: 280px;
  z-index: 5;
  right: -180px;
  top: 80px;
  background-color: white;
  transition: right 0.5s;
}

.tocWrapper {
  background-color: white;
  position: fixed;
  z-index: 3;
  width: 270px;
  top: 50px;
  height: 91%;
  right: -270px;
  padding: 25px;
  padding-left: 20px;
  padding-right: 0;
  background-color: white;
  border: 3px solid var(--disabled-color);
  border-radius: 5px;
  color: var(--disabled-color);
  transition: right 0.5s;
}

.tocTitle {
  font-size: 25px;
  font-weight: bold;
  color: var(--activated-color);
  margin-left: 10px;
}
.tocContentWrapper {
  margin-top: 60px;
  overflow-y: scroll;
  min-width: 90%;
}
.orderedList {
  padding-left: 25px;
}

.list {
  margin-top: 15px;
  margin-bottom: 15px;
}
.list.lv1 {
  font-weight: bold;
  font-size: 20px;
}

.list.lv2 {
  font-weight: 500;
  font-size: 17px;
}

.list.lv3 {
  font-size: 15px;
  font-weight: 300;
}

.list.lv4 {
  font-size: 13px;
  font-weight: 200;
}

.list.lv5 {
  font-size: 10px;
  font-weight: 100;
}
